<h1>Contact</h1>
<p>Contact me here fakemail@fake.com</p>
<p>I promise it's real</p>

<div class="col-md-8">
	<form method="post">
		<input type="hidden" name="form-name" value="form 1">
		<h2 class="shadow">Contact info</h2> 
		<div class="form-group">
			<label for="name" class="sr-only">Name*</label>
			<input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" required="required">		
		</div>
		<div class="form-group">
			<label for="email" class="sr-only">Email*</label>
			<input type="text" name="email" id="email" class="form-control" placeholder="Enter your email" required="required">
		</div>
		<div class="form-group">
			<label for="message" class="sr-only">Message*</label>
			<textarea class="form-control" name="message" id="message" placeholder="Leave a message" cols="35" rows="5" required="required"></textarea>
		</div>
		<p id="char-count"></p>
		<p id="visable-comment"></p>
		<button type="submit" class="btn btn-primary" title="submit" data-target="tooltip" id="submit">Submit</button>
	</form>
</div>
