<h1>Editing Product</h1>

<%= render 'form', product: @product %>
<%= image_tag(@product.image_url, class: "img-responsive my-image") %>
<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
